## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-11-20 15:34:08.387690: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ["EIN", "NAME"])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cut_off = 500
application_types_to_replace = application_df["APPLICATION_TYPE"].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cut_off].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cut_off2 = 1000
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cut_off2].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)

dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = dummies.drop(columns = ["IS_SUCCESSFUL"]).values
y = dummies["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input = len(X_train[0])
layer1 = 10
layer2 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=layer1, activation="relu", input_dim= input))
nn.add(tf.keras.layers.Dropout(rate=0.2))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=layer2, activation="relu"))
nn.add(tf.keras.layers.Dropout(rate=0.2))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                440

 dropout (Dropout)           (None, 10)                0

 dense_1 (Dense)             (None, 4)                 44

 dropout_1 (Dropout)         (None, 4)                 0

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 489 (1.91 KB)
Trainable params: 489 (1.91 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6511 - accuracy: 0.6285
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6062 - accuracy: 0.6811
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5929 - accuracy: 0.6947
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5863 - accuracy: 0.7004
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5872 - accuracy: 0.6988
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5832 - accuracy: 0.7022
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5811 - accuracy: 0.7052
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5777 - accuracy: 0.7064
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5807 - accuracy: 0.7048
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5789 - accuracy: 0.7067
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5769 - accuracy: 0.7073
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5784 - accuracy: 0.7075
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5777 - accuracy: 0.7086
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5788 - accuracy: 0.7046
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5772 - accuracy: 0.7082
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5774 - accuracy: 0.7074
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5759 - accuracy: 0.7079
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5746 - accuracy: 0.7106
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5770 - accuracy: 0.7089
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5773 - accuracy: 0.7081
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5743 - accuracy: 0.7081
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5744 - accuracy: 0.7108
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5772 - accuracy: 0.7079
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5738 - accuracy: 0.7096
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5743 - accuracy: 0.7108
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5772 - accuracy: 0.7106
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5771 - accuracy: 0.7079
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5753 - accuracy: 0.7094
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5739 - accuracy: 0.7109
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5754 - accuracy: 0.7117
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5737 - accuracy: 0.7094
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5732 - accuracy: 0.7083
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5748 - accuracy: 0.7084
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5728 - accuracy: 0.7107
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5756 - accuracy: 0.7091
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5750 - accuracy: 0.7107
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5736 - accuracy: 0.7102
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5734 - accuracy: 0.7106
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5726 - accuracy: 0.7096
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5715 - accuracy: 0.7113
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5738 - accuracy: 0.7102
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5755 - accuracy: 0.7084
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5705 - accuracy: 0.7112
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5756 - accuracy: 0.7104
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5740 - accuracy: 0.7094
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5746 - accuracy: 0.7084
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5729 - accuracy: 0.7121
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5754 - accuracy: 0.7102
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5738 - accuracy: 0.7126
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5752 - accuracy: 0.7100
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5746 - accuracy: 0.7095
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5755 - accuracy: 0.7087
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5739 - accuracy: 0.7102
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5747 - accuracy: 0.7104
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5730 - accuracy: 0.7091
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5734 - accuracy: 0.7104
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5738 - accuracy: 0.7103
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5732 - accuracy: 0.7088
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5752 - accuracy: 0.7109
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5743 - accuracy: 0.7088
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5752 - accuracy: 0.7088
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5739 - accuracy: 0.7103
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5738 - accuracy: 0.7079
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5727 - accuracy: 0.7093
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5748 - accuracy: 0.7097
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5731 - accuracy: 0.7107
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5740 - accuracy: 0.7105
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5742 - accuracy: 0.7109
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5743 - accuracy: 0.7093
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5744 - accuracy: 0.7093
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5736 - accuracy: 0.7107
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5767 - accuracy: 0.7093
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5761 - accuracy: 0.7093
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5737 - accuracy: 0.7114
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5739 - accuracy: 0.7121
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5719 - accuracy: 0.7115
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5728 - accuracy: 0.7122
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5752 - accuracy: 0.7118
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5725 - accuracy: 0.7119
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5726 - accuracy: 0.7130
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5737 - accuracy: 0.7047
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5751 - accuracy: 0.7050
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5755 - accuracy: 0.7048
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5733 - accuracy: 0.7062
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5739 - accuracy: 0.7053
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5714 - accuracy: 0.7042
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5754 - accuracy: 0.7037
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5752 - accuracy: 0.7024
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5743 - accuracy: 0.7041
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5748 - accuracy: 0.7067
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5768 - accuracy: 0.7011
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5745 - accuracy: 0.7013
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5742 - accuracy: 0.7015
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5746 - accuracy: 0.7056
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5750 - accuracy: 0.7023
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5730 - accuracy: 0.7061
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5733 - accuracy: 0.7067
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5727 - accuracy: 0.7056
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5769 - accuracy: 0.7041
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5756 - accuracy: 0.7046

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5608 - accuracy: 0.7156 - 328ms/epoch - 1ms/step
Loss: 0.5607904195785522, Accuracy: 0.7155685424804688

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

/Users/aaronsummers/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(